<% @document = Tarea_Escrita.get(params["id"]) %>


<head>
<style type="text/css">

  .formfield #textbox_label { 
  width: 10px;
  vertical-align: middle; 
}

</style>
</head>


<form action="/edit/<%=@document.id%>" method="post">

  <p class="one_liners"> 
    <label for="username">Name:</label>
    <input type="text" id="username" name="username" value=<%=@document.name%> >

    <label for="teacher">Teacher:</label>
    <input type="text" name="teacher" value=<%=@document.teacher%> >

    <label for="due_date">Due Date:</label>
    <input type="text" name="due_date" value=<%=@document.due_date%> >

    <label for="class_number">Class:</label>
    <input type="text" name="class_number" value=<%=@document.class_number%> >

    <label for="filename">Title:</label>
    <input type="text" name="filename" value=<%=@document.filename%> >
  </p>





  <p class="formfield">
    <label for="para1" class="textbox_label">Párafo 1: Breve acerca del contenido de la lectura</label>
    <textarea style="height:100px; width:300px;" name="para1" id="para1"><%= @document.para1 %></textarea>
  </p>

  <p class="formfield">
    <label for="para2">Párafo 2: Una lista de los componentes de la ciudad</label>
    <textarea style="height:100px; width:300px;" name="para2" id="para2"><%= @document.para2 %></textarea>
  </p>


  <p class="formfield">
    <label for="para3">Párafo 3: Una lasta de los sectores de poder</label>
    <textarea style="height:100px; width:300px;" name="para3" id="para3"><%= @document.para3 %></textarea>
  </p>


  <p class="formfield">
    <label for="para4" id="para4_label">Párafo 4: 1. Qué opina el autor de la ciudad? 2. Me gustaría vivir o haber vivido en esta ciudad? Por qué sí o por qué no? (cinco razones)</label>
    <textarea style="height:100px; width:300px;" name="para4" id="para4"><%= @document.para4 %></textarea>
  </p>

  <button type="submit">Save</button>
</form>

