
<h2>Documents</h2> 

<% @documents.all(:order => [:last_save.desc]).each do |document| %>

  <li>
  <%= format_time(document.last_save) || format_time(document.created_at) %>
  <%= User.first(:id => document.user_id).real_name%>
  <%= link_to( html_escape(document[:filename]), '/edit/' + document["id"].to_s) %>
  <%= link_to "Print", '/print/' + document[:id].to_s %> 
  </li>

<% end %> 

<%= link_to("Create New", :form) %>
<p></p>
